<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <h3>آیا از حذف این کاربر اطمینان دارید؟</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" data-bs-dismiss="modal">خیر</button>
            <a href="#" class="btn btn-danger ml-2" id="confirmBtn">بله</a>
        </div>
      </div>
    </div>
  </div>