{% extends "panel/base.html" %}
{% load static %}

{% block title %}خانه{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row gy-4">
      <!-- Data Tables -->
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <h1>{{ perms.user.veiw_user }}</h1>
            <table class="table">
              <thead class="table-light">
                <tr>
                  <th class="text-truncate">کاربر</th>
                  <th class="text-truncate">ایمیل</th>
                  <th class="text-truncate">سطح دسترسی</th>
                  <th class="text-truncate">شماره تماس</th>
                  <th class="text-truncate">وضعیت</th>
                  <th class="text-truncate">اقدام</th>
                </tr>
              </thead>
              <tbody>

                {% for user in users %}
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="avatar me-3">
                          <img src="
                          {% if user.user_avatar %}
                            {{ user.user_avatar.avatar.url }}
                          {% else %}
                            {% static 'panel/img/avatars/default_avatar.jpg' %}
                          {% endif %}
                          " 
                          alt="{{ user.username }}" class="rounded-circle" />
                        </div>
                        <div>
                          <h6 class="mb-0 text-truncate">{{ user.first_name }} {{ user.last_name }}</h6>
                          <small class="text-truncate">{{ user.username }}</small>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate">{{ user.email }}</td>
                    <td class="text-truncate">
                      {% if user.is_superuser and user.is_staff %}
                        <i class="mdi mdi-account-tie mdi-24px text-danger me-1"></i>
                        <span>مدیر</span>
                      {% elif not user.is_superuser and user.is_staff %}
                        <i class="mdi mdi-account-tag mdi-24px text-success me-1"></i>
                        <span>ادمین</span>
                      {% else %}
                        <i class="mdi mdi-account mdi-24px text-primary me-1"></i>
                        <span>کاربر عادی</span>
                      {% endif %}
                    </td>
                    <td class="text-truncate">{{ user.phone_number }}</td>
                    <td>
                      {% if user.is_staff and not user.is_active %}
                        <span class="badge bg-label-warning rounded-pill">تعلیق</span>
                      {% elif not user.is_staff and not user.is_active %}
                        <span class="badge bg-label-danger rounded-pill">غیر فعال</span>
                      {% else %}
                        <span class="badge bg-label-success rounded-pill">فعال</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if not user.is_superuser %}
                        <a href="{% url 'panel:change_status' user.id %}" 
                          class="btn btn-outline-secondary p-2" title="تغییر وضعیت">
                          {% if user.is_active %}
                            <span class="mdi mdi-account-lock mdi-24px"></span>
                          {% else %}
                            <span class="mdi mdi-account-lock-open mdi-24px"></span>
                          {% endif %}
                        </a>
                        
                        <a href="{% url 'panel:change_access' user.id %}" 
                          class="btn btn-outline-info p-2" title="تغییر سطح دسترسی">
                          <span class="mdi mdi-account-check mdi-24px"></span>
                        </a>

                        <button class="btn btn-outline-danger p-2" 
                          onclick="getUserId({{user.id}})" title="حذف کاربر"
                          data-bs-toggle="modal" data-bs-target="#confirmModal">
                          <span class="mdi mdi-account-remove mdi-24px"></span>
                        </button>
                      {% else %}
                        <span style="font-size: 20px;">#</span>
                      {% endif %}
                      
                    </td>
                  </tr>
                {% endfor %}
                
              </tbody>
            </table>

            {% include "panel/partials/confirm_modal.html" with obj_name='کاربر' %}
          </div>
        </div>
      </div>
      <!--/ Data Tables -->
    </div>
</div>
{% endblock %}

{% block script %}
  <script>
    const confirmBtn = document.querySelector('#confirmBtn')
    const getUserId = (id) => confirmBtn.attributes.href.value = `/remove_user/${id}`
  </script>
{% endblock %}