{% extends "panel/base.html" %}

{% block title %}موضوعات{%endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y" id="home-page">
    <div class="row mb-5">
        <div class="col-12 px-3">
            <button
                type="button"
                class="btn btn-outline-success"
                data-bs-toggle="modal"
                data-bs-target="#modalCenter"
                id="create-btn">
                <span class="mdi mdi-plus mdi-24px"></span>
                <strong>موضوع جدید</strong>
            </button>
        </div>
        {% for main_cat in main_cats %}
            <div class="col-12 col-md-6 col-xxl-4 mb-3">
                <div class="demo-inline-spacing">
                    <ul class="list-group p-0">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h4>{{ main_cat.name }}</h4>
                            <span>
                                <button
                                    type="button"
                                    title="ویرایش موضوع"
                                    class="btn btn-outline-info edit-btn p-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalCenter"
                                    data-obj="{{ main_cat.id }}">
                                    <span class="mdi mdi-note-edit mdi-24px"></span>
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-outline-danger remove-btn p-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#confirmModal"
                                    data-obj="main"
                                    onclick="getUserId({{main_cat.id}})"
                                    title="حذف موضوع">
                                    <span class="mdi mdi-trash-can mdi-24px"></span>
                                </button>
                            </span>
                        </li>
                        {% if main_cat.subcats.count %}
                            {% with subcats=main_cat.subcats.all %}
                                {% for cat in subcats %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <h6>{{ cat.name }}</h6>
                                        <span>
                                            <button
                                                type="button"
                                                class="btn btn-outline-info edit-btn p-2"
                                                data-bs-toggle="modal"
                                                data-bs-target="#modalCenter"
                                                data-obj="{{ cat.id }}"
                                                title="ویرایش موضوع">
                                                <span class="mdi mdi-note-edit mdi-24px"></span>
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-outline-danger remove-btn p-2"
                                                data-bs-toggle="modal"
                                                data-bs-target="#confirmModal"
                                                data-obj="sub"
                                                onclick="getUserId({{cat.id}})"
                                                title="حذف موضوع">
                                                <span class="mdi mdi-trash-can mdi-24px"></span>
                                            </button>
                                        </span>
                                    </li>
                                {% endfor %}
                            {% endwith %}
                        {% else %}
                            <li class="list-group-item text-danger">
                                <i class="fas fa-times"></i>
                                بدون موضوع فرعی
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div> 
        {% empty %}
            <div class="col-12 mt-5 alert alert-danger h3 text-center">
                در حال حاضر هیچ موضوعی وجود ندارد
            </div>
        {% endfor %}
    </div>
    {% include "panel/posts/add_category.html" %}
    {% include "panel/partials/confirm_modal.html" with obj_name='موضوع' %}
</div>
{% endblock  %}

{% block script %}
<script>

    const confirmBtn = document.querySelector('#confirmBtn')
    const getUserId = (id) => confirmBtn.attributes.href.value = `/panel/remove_cat/${id}`

    $(document).ready(function() {

        $('.remove-btn').click(function (){
            $('#notice').html('')
            const catType = $(this).attr('data-obj')
            console.log(catType)
            if(catType === 'main') {
                $('#notice').html(
                    '<span class="mdi mdi-alert mdi-24px"></span>' +
                    'در صورت حذف این موضوع اصلی همه موضوعات فرعی آن نیز حذف خواهند شد'
                )
            }
        })

        $('#create-btn').click(function(){
            $('#myForm').prop('action', `{% url 'panel:add_cat' %}`)
            $('#myForm')[0].reset()
            $('#submit-btn').html('افزودن');
            $('#modalTitle').html('افزودن موضوع جدید');
        })


        $('.edit-btn').click(function(){
            const id = $(this).attr('data-obj')
            const url = `/panel/edit_cat/${id}/`
            $('#myForm').prop('action', url)
            $('#submit-btn').html('ذخیره تغییرات');
            $('#modalTitle').html('ویرایش موضوع');

            $.ajax({
                type: 'GET',
                url: $('#myForm').attr('action'),
                success: function(response) {
                    if(response.is_subcat) $('#id_main').prop('disabled', false);
                    $('#id_name').prop('value', response.name)
                    $('#id_is_subcat').prop('checked', response.is_subcat)
                    $('#id_main').prop('value', response.main)
                }
            })
        })

        $('#id_is_subcat').change(function() {
            if ($(this).is(':checked')) {
                $('#id_main').prop('disabled', false);
            } else {
                $('#id_main').prop('disabled', true);
                $('#mainError').html('');
                $('#id_main').removeClass('border-danger')
            }
        });

        $('#id_name').on('keydown', function() {
            $('#nameError').html('');
            $('#id_name').removeClass('border-danger')
        })

        $('#id_main').on('click', function() {
            $('#mainError').html('');
            $('#id_main').removeClass('border-danger')
        })


        $('#myForm').on('submit', function(event) {
            event.preventDefault();
            if ($(this).attr('action').includes('edit')) {
                const newName = $('#id_name').val()
                const newIsSubcat = $('#id_is_subcat').is(':checked')
                const newMain = $('#id_main').val()
            
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: {
                        'name': newName,
                        'is_subcat': newIsSubcat,
                        'main': newMain,
                        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                    },
                    success: function(response) {

                        $('#nameError').html('');
                        $('#mainError').html('');
                        if (response.success) {
                            $('#modalCenter').modal('hide');
                            setTimeout(() => {
                                    Swal.fire({
                                    title: 'موفقیت!',
                                    text: "موضوع جدید با موفقیت اضافه شد",
                                    icon: 'success',
                                    confirmButtonText: 'باشه',
                                    customClass: {
                                        popup: 'swal-popup'
                                    }
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        location.reload();
                                    }
                                });
                            }, 200)
                        } 
                        else {
                            $.each(response.errors, function(field, errors) {
                                if (field === 'name') {
                                    $('#nameError').append(errors);
                                    $('#id_name').addClass('border-danger')
                                }
                                
                                if (field === 'main') {
                                    $('#mainError').append(errors);
                                    $('#id_main').addClass('border-danger')
                                }
                            });
                        }
                    }
                });
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#nameError').html('');
                        $('#mainError').html('');
                        if (response.success) {
                            $('#modalCenter').modal('hide');
                            setTimeout(() => {
                                    Swal.fire({
                                    title: 'موفقیت!',
                                    text: "موضوع جدید با موفقیت اضافه شد",
                                    icon: 'success',
                                    confirmButtonText: 'باشه',
                                    customClass: {
                                        popup: 'swal-popup'
                                    }
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        location.reload();
                                    }
                                });
                            }, 200)
                        } else {
                            $.each(response.errors, function(field, errors) {
                                if (field === 'name') {
                                    $('#nameError').append(`${errors}-${field}`);
                                    $('#id_name').addClass('border-danger')
                                }
                                
                                if (field === 'main') {
                                    $('#mainError').append(`${errors}-${field}`);
                                    $('#id_main').addClass('border-danger')
                                }
                            });
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock  %}