{% load static %}
{% load jalali_tags %}

{% for notif in page_obj %}
    <div class="col-12">
        <div class="card bg-secondary mb-1">
            <div class="card-body p-0 d-flex align-items-center">
                <a href="{% url 'notifs:view_notif' notif.id %}"
                    class="text-white h5 text-decoration-none 
                    d-flex justify-content-between align-items-center
                    flex-column flex-md-row
                    mb-0 d-block w-100 px-4 py-2">
                    
                    {% if request.user.is_superuser or perms.notifs.view_notification %}
                        <span class="d-flex justify-content-start">
                            {% if not notif.reciever.is_active %}
                                <span class="mdi mdi-account-cancel mdi-36px text-danger"></span>
                                <small class="text-danger">غیر فعال</small>
                            {% else %}
                                <span class="avatar d-flex flex-column">
                                    <img src="
                                        {% if notif.reciever.user_avatar %}
                                            {{ notif.reciever.user_avatar.avatar.url }}
                                        {% else %}
                                            {% static 'panel/img/default_avatar.jpg' %}
                                        {% endif %}
                                    " 
                                        alt="{{ notif.reciever.username }}" 
                                        class="rounded-circle" />
                                </span>
                            {% endif %}
                            <span class="me-2">
                                <span class="h6 mb-0 text-white">
                                    {{ notif.reciever.get_full_name }}
                                </span>
                                <br>
                                <small>
                                    {{ notif.reciever.username }}
                                </small>
                            </span>
                        </span>
                    {% endif %}
                    
                    <span class="my-3 my-md-0">{{ notif.subject }}</span>

                    {% if notif.seen %}
                        <span class="badge bg-success">
                            <span class="mdi mdi-eye-check mdi-24px"></span>
                            <span class="h5 text-white">{{ notif.updated_at|to_jalali:'%Y/%m/%d' }}</span>
                        </span>
                    {% else %}
                        <span class="badge bg-info">
                            <span class="mdi mdi-send mdi-24px"></span>
                            <span class="h5 text-white">{{ notif.created_at|to_jalali:'%Y/%m/%d' }}</span>
                        </span>
                    {% endif %}
                </a>

                {% if request.user.is_superuser or perms.notifs.delete_notification %}
                    <button class="btn btn-danger p-1 ms-2" title="حذف اعلان"
                        onclick="getNotifId({{ notif.id }})"
                        data-bs-toggle="modal" data-bs-target="#confirmModal">
                        <span class="mdi mdi-trash-can mdi-24px"></span>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% empty %}
<h3 class="alert alert-danger text-center" id="not-confirm">
    <span class="mdi mdi-bell-off mdi-36px"></span>
    <span>اعلانی وجود ندارد</span>
</h3>
{% endfor %}

{% include "panel/components/pagination.html" %}

<script>
    $(document).ready(function(){
        const filter = "{{ filter }}"

        $('.next-btn').click(function(){
            const currentPage = $(this).data('current-page')
            load_notifs(filter, currentPage + 1)
        })

        $('.prev-btn').click(function(){
            const currentPage = $(this).data('current-page')
            if (currentPage > 1){
                load_notifs(filter, currentPage - 1)
            }
        })

        $('.page-counter').click(function(){
            const page = $(this).data('page')
            load_notifs(filter, page)
        })
    })
</script>
