{% extends "panel/base.html" %}

{% block title %}تیکت های کاربران{% endblock %}

{% block content %}
    {% if tickets_count > 0 %}
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row mb-3">
                <div class="col-12 col-lg-6 d-flex">
                    <button class="btn btn-success" id="answered-btn">
                        <span class="mdi mdi-check-circle mdi-24px ms-2"></span>
                        <strong>پاسخ داده شده</strong>
                        <span class="badge rounded-pill bg-dark me-2">{{ answered_count }}</span>
                    </button>

                    <button class="btn btn-outline-info me-2" id="checking-btn">
                        <span class="mdi mdi-file-search mdi-24px ms-2"></span>
                        <strong>بررسی نشده</strong>
                        <span class="badge rounded-pill bg-danger me-2">{{ checking_count }}</span>
                    </button>
                </div>
            </div>
            <div class="row gy-4" id="user-tickets">
                {% comment %} Load by AJAX {% endcomment %}
            </div>
        </div>
        {% include "panel/partials/confirm_modal.html" with obj_name='تیکت' %}
    {% else %}
        <h3 class="alert alert-danger text-center" id="not-confirm">
            <span class="mdi mdi-ticket-account mdi-36px"></span>
            <span>تیکتی وجود ندارد</span>
        </h3>
    {% endif %}
{% endblock %}

{% block script %}
<script>
    const confirmBtn = document.querySelector('#confirmBtn')
    const getTicketId = (id) => confirmBtn.attributes.href.value = `/notifs/remove_ticket/${id}`

    function load_tickets(filter='answered', page=1){
        $.ajax({
            url: '{% url "notifs:user_tickets_paginate" %}',
            data: {
                'page': page,
                'filter': filter
            },
            success: function(data){
                $('#user-tickets').html(data)
            }
        })
    }

    $(document).ready(function(){
        load_tickets('answered', 1)

        $('#answered-btn').click(function(e){
            $(this).removeClass('btn-outline-success')
            $(this).addClass('btn-success')
            $('#checking-btn').removeClass('btn-info')
            $('#checking-btn').addClass('btn-outline-info')
            setTimeout(() => {
                e.preventDefault()
                load_tickets('answered', 1)
            }, 200)
        })

        $('#checking-btn').click(function(e){
            $(this).removeClass('btn-outline-info')
            $(this).addClass('btn-info')
            $('#answered-btn').removeClass('btn-success')
            $('#answered-btn').addClass('btn-outline-success')
            setTimeout(() => {
                e.preventDefault()
                load_tickets('checking', 1)
            }, 200)
        })
    })
</script>
{% endblock %}