{% extends "panel/base.html" %}
{% load static %}

{% block title %}پست های مورد علاقه{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y border" style="height: 85vh;">
    <div class="row gy-4">
      <!-- Data Tables -->
      <div class="col-12">
        {% include "panel/components/search_sort.html" with search=True sort=False %}
        <div class="row" id="fav-posts">
          <!-- Load By AJAX -->
        </div>
      </div>
      <!--/ Data Tables -->
    </div>
</div>
{% endblock %}

{% block script %}
  <script>
    function load_fav_posts(page=1, query=''){
      $.ajax({
        url: '{% url "account:fav_posts_paginate" %}',
        data: {
          'page': page,
          'q': query
        },
        dataType: "html",
        success: function(data){
          $("#fav-posts").html(data)
        },
        error: function(xhr, status, error) {
          console.error("Error loading posts:", error);
        }
      })
    }

    $(document).ready(function(){
        load_fav_posts(1, '')

        $('#search_input').keyup(function(e){
            setTimeout(() => {
                e.preventDefault()
                const query = $(this).val();
                if (query.trim() !== "") {
                    load_fav_posts(1, query)
                }else{
                    load_fav_posts(1, '')
                }
            }, 300)
        })
    })
  </script>
{% endblock %}