{% load jalali_tags %}

{% for ticket in page_obj %}
    <div class="col-12">
        <div class="card bg-secondary mb-1">
            <div class="card-body p-0">
                <a href="{% url 'notifs:view_my_ticket' ticket.id %}"
                    class="text-white h5 text-decoration-none 
                    d-flex justify-content-between align-items-center
                    mb-0 d-block w-100 px-4 py-2">

                    <span>{{ ticket.title }}</span>

                    {% if ticket.answered %}
                        <span class="badge bg-success">
                            <span class="mdi mdi-check-circle mdi-24px"></span>
                            {% for answer in answer_tickets %}
                                {% if answer.main.id == ticket.id %}
                                    <span class="h5 text-white">{{ answer.created_at|to_jalali:'%Y/%m/%d' }}</span>
                                {% endif %}
                            {% endfor %}
                        </span>
                    {% else %}
                        <span class="badge bg-info">
                            <span class="mdi mdi-file-search mdi-24px"></span>
                            <span class="h5 text-white">{{ ticket.created_at|to_jalali:'%Y/%m/%d' }}</span>
                        </span>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
{% empty %}
<h3 class="alert alert-danger text-center" id="not-confirm">
    <span>تیکتی وجود ندارد</span>
</h3>
{% endfor %}

{% include "panel/components/pagination.html" %}

<script>
    $(document).ready(function(){
        const filter = "{{ filter }}"

        $('.next-btn').click(function(){
            const currentPage = $(this).data('current-page')
            load_tickets(filter, currentPage + 1)
        })

        $('.prev-btn').click(function(){
            const currentPage = $(this).data('current-page')
            if (currentPage > 1){
                load_tickets(filter, currentPage - 1)
            }
        })

        $('.page-counter').click(function(){
            const page = $(this).data('page')
            load_tickets(filter, page)
        })
    })
</script>
