{% extends "blog/blog_base.html" %}

{% block title %}{{ cat_name }}{% endblock %}

{% block body %}
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="d-flex align-items-center rounded justify-content-between 
                            bg-light py-2 px-4 mb-3">
                            <div class="text-center py-2 px-4 mb-3">
                                <h3 class="m-0">
                                    <i class="fas fa-tag"></i>
                                    <span>{{ cat_name }}</span>
                                </h3>
                            </div>
                            <a class="text-secondary font-weight-medium text-decoration-none"
                               href="{% url 'blog:all_categories' %}">
                               <span>همه موضوعات</span>
                               <i class="fas fa-chevron-left"></i>
                            </a>
                        </div>
                    </div>
                    {% for post in cat_posts %}
                        {% include "blog/partials/post_card.html" %}
                    {% empty %}
                        <div class="col-12 alert alert-danger text-center">
                            <i class="far fa-times-circle"></i>
                            <span>در حال حاضر پستی وجود ندارد</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}