{% extends "base_html.html" %}

{% block body %}
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container" dir="rtl">
      <div class="layout-page">
        {% include "partials/navbar.html" %}
        <div class="content-wrapper">
          {% block content %}{% endblock %}
          {% include "partials/footer.html" %}
          <div class="content-backdrop fade"></div>
        </div>
      </div>
      {% include "partials/sidebar.html" %}
  </div>
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
{% endblock %} 