{% extends "panel/base.html" %}
{% load widget_tweaks %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block content %}
  <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row">
          <div class="col-md-12">
              <div class="card mb-4">
                <h4 class="card-header text-center">تغییر رمز عبور</h4>
                <form id="formAuthentication" class="mb-3" method="post">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <p>
                                    <i class="fa-solid fa-circle-xmark"></i>
                                    <span class="text-danger">{{ error }}</span>
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}
            
                    <div class="card-body pt-2 mt-1">
                        <div class="row mt-2 gy-4">
                            <div class="col-12 col-md-6 m-auto">
                                <div class="mb-3">
                                    <div class="form-password-toggle">
                                        <div class="input-group input-group-merge">
                                            <span class="cursor-pointer border border-2 p-3 pb-0 border-start-0 rounded-end"><i class="mdi mdi-eye-off-outline"></i></span>
                                            <div class="form-floating form-floating-outline">
                                                {{ form.old_password|add_class:"form-control rounded-0 rounded-start"|attr:"aria-describedby:password"|attr:"placeholder:رمز عبور کنونی خود وارد کنید"|attr:"autofocus" }}
                                                <label>{{ form.old_password.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.old_password.errors %}
                                        {% for error in form.old_password.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                        
                                <div class="mb-3">
                                    <div class="form-password-toggle">
                                        <div class="input-group input-group-merge">
                                            <span class="cursor-pointer border border-2 p-3 pb-0 border-start-0 rounded-end"><i class="mdi mdi-eye-off-outline"></i></span>
                                            <div class="form-floating form-floating-outline">
                                                {{ form.new_password|add_class:"form-control rounded-0 rounded-start"|attr:"aria-describedby:password"|attr:"placeholder:رمز عبور جدید خود وارد کنید"|attr:"autofocus" }}
                                                <label>{{ form.new_password.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.new_password.errors %}
                                        {% for error in form.new_password.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                        
                                <div class="mb-3">
                                    <div class="form-password-toggle">
                                        <div class="input-group input-group-merge">
                                            <span class="cursor-pointer border border-2 p-3 pb-0 border-start-0 rounded-end"><i class="mdi mdi-eye-off-outline"></i></span>
                                            <div class="form-floating form-floating-outline">
                                                {{ form.confirm_new_password|add_class:"form-control rounded-0 rounded-start"|attr:"aria-describedby:password"|attr:"placeholder:رمز عبور جدید خود تأیید کنید"|attr:"autofocus" }}
                                                <label>{{ form.confirm_new_password.label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.confirm_new_password.errors %}
                                        {% for error in form.confirm_new_password.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                        
                                <div class="mb-3">
                                  <button class="btn btn-primary d-grid w-100" type="submit">تغییر رمز عبور</button>
                                </div>
                            </div>
                        </div>  
                    </div>
                </form>
              </div>
          </div>
      </div>
  </div>
{% endblock %}


